{% extends "auctions/layout.html" %}



{% block body %}

<style>

    table {
        width: 100%;
        border-spacing: 20px;
        border-collapse:separate;
    }
    textarea {
        width: 100%
    }
</style>

    <h2>New Listings</h2>

    
    
    <form method="post" action="{% url 'new' %}">
        {% csrf_token %}
        <div class="container">
            <table>
        {{ form.as_table }}
            </table>
            <input type="submit">
        </div>
        
    </form>
    
{% endblock %}